@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  background-color: #F5F2EB;
  color: #003366;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1;}
}

.page-content {
  animation: fadeIn 1.0s ease-in-out;
}

.content-fade{
  animation: fadeIn 1.0s ease-in-out;
}
